.body {
    background-color: white;
    border-radius: 20px;
    height: 110%;
    padding: 10px;
    position: relative;
    -webkit-box-shadow: 13px 18px 96px -28px rgba(0,0,0,0.42);
    -moz-box-shadow: 13px 18px 96px -28px rgba(0,0,0,0.42);
    box-shadow: 13px 18px 96px -28px rgba(0,0,0,0.42);
}
.Notch {
    z-index: 1;
    background-color: var(--Light-Grayish-Violet);
    border: 1px var(--Light-Grayish-Violet) solid;
    height: 25px;
    width: 120px;
    position: absolute;
    left: 27%;
    top: 0;
    border-radius: 10px;
}
.screen {
    height: 100%;
    border: 1px var(--Light-Grayish-Violet) solid;
    border-radius: 10px;
}
.navbar {
    height: 65px;
    background: linear-gradient(90deg, var(--Moderate-Violet), var(--Very-Light-Magenta));
    border-radius: 15px 15px 5px 5px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    padding-bottom: 0;
    
}

.arrow{
    
    width: 10px;
    height: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 4px;
    rotate: 45deg   ;
    border: 4px var(--Light-Grayish-Violet) solid;
    border-radius: 3px;
    border-right: 0;
    border-top: 0;
}
.info{
    
    display: flex;
}
.info img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px var(--Light-Grayish-Violet) solid;
    font-size: 10px;
}
.info div{
    text-align: left;
    margin-left: 10px;
    margin-right: 40px;
}
.info #name{
    font-size: 12px;
    font-weight: 700;
    color: white;
    margin-bottom: 5px;
}
.info #status{
    font-size: 9px;
    color: var(--Pale-Violet);
}
.dots{
    margin-top: 5px;
}
.dots div{
    width: 3px;
    height: 3px;
    background-color: var(--Light-Grayish-Violet);
    border-radius: 50%;
    margin: 2px ;
}

.Text{
    background-color: var(--Light-Grayish-Violet);
    display: flex;
    flex-direction: column;
    height: 80%;
    padding: 6px;
}
#text {
    font-size: 10px;
    border: 1px var(--Light-Grayish-Violet) solid;
    border-radius: 10px;
    text-align: left;
    padding: 5px;
    max-width: 148px;
    width: fit-content;
    margin: 5px 0 5px 0;
    background-color: var(--Grayish-Blue);
}
#Provider{

}
#Client{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5px;
}
#Client p {
    background-color: var(--White);
}
#Client img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px var(--Light-Grayish-Violet) solid;
    margin-right: 10px;
}
#option {
    font-size: 10px;

    width: 170px;
    height: 35px;
    padding: 5px;
    margin: 5px 0 5px 0;
    border-radius: 10px 10px 10px 0px;
    background: linear-gradient(270deg, var(--Moderate-Violet), var(--Very-Light-Magenta));
    display: flex;
}
#option input[type="radio"] {
    margin-right: 5px;
    width: 16px;
    
}#option input[type="radio"]::before {
   background-color: black;
    
}
#price{
    font-size: 14px;
    font-weight: 700;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 3px;
    color: white;
    justify-self: end;
    text-align: right;
    
}
#Duration{
    width: 95px;
    font-size: 10px;
    color: var(--Dark-Grayish-Violet);
    margin-right: 5px;
    margin-top: 5px;
}
footer {
    position: absolute;
    bottom: 0;
    left: 10px;
    padding: 10px;
    width: 92%;
    height: 10%;
    border-radius: 0 0 10px 10px;
    display: flex;
}
#message{
    width: 100%;
    border-radius: 20px;
    border: 1px var(--Light-Grayish-Violet) solid;
    padding-left: 10px;
    
}
#send {
    position: absolute;
    right: 16px;
    top: 12px;
    background-color: var(--Very-Dark-Desaturated-Violet);
    border-radius: 25px;
    border: none;
    width: 24px;
    height: 24px;
}

.senderArrow {
    width: 5px;
    height: 5px;
    margin-top: 1px;
    margin-left: 5px;
    margin-right: 0px;
    padding: 3px;
    rotate: 230deg;
    border: 4px var(--Light-Grayish-Violet) solid;
    border-radius: 3px;
    border-right: 0;
    border-top: 0;
}